body{
    background-image: url("https://www.rosario3.com/__export/1586346976811/sites/rosario3/img/2020/04/08/antenas.jpg_820697298.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.bloque-inicio{
    background-color: rgb(13, 85, 167);
    padding:20px;
    margin-top:10pc;
    height:23pc;
    width:500px !important;
    border-radius:1pc;
}

.login-titulo{
    background-color: rgb(9, 181, 211);
    color: aliceblue;
    padding:10px;
    border-radius:1pc;
    text-align: center;

}
span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    font-size:28px;
    color: aliceblue;

}

input{
    padding:5px;
    width:100%;
    font-size: 18px;
}
.btn{
    height:3pc;
    width: 45%;
    margin:30px 10px 10px 0px;
    border-radius: 10px;
}

.cuadro_logo{
    background-color: rgba(10, 107, 94, 0.37);
    width:100px !important;
    border-radius:5pc;
}

.logo{
    height:230px;
    width: 250px;
    padding:10px;
    margin-top: 20px;
    text-align: center;

}

.text_footer {
    background-color:#242829af;
    color: aliceblue;
    width:100%;
    height:100%;
    padding:20px;
    text-align:center;
 
 }

 .cuadro_footer{
    height:150px !important;
}